@font-face {
  font-family: 'spectralbold';
  src: url('/font/spectral-bold.woff2') format('woff2'),
       url('/font/spectral-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'spectralbold_italic';
  src: url('/font/spectral-bolditalic.woff2') format('woff2'),
       url('/font/spectral-bolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'spectralitalic';
  src: url('/font/spectral-italic.woff2') format('woff2'),
       url('/font/spectral-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'spectralregular';
  src: url('/font/spectral-regular.woff2') format('woff2'),
       url('/font/spectral-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:  spectralregular, serif;
  font-size: 1.1em;
}
