<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/syntax.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/fontawesome.min.css" | relURL }}" />
  {{ partial "head_custom.html" . }}
</head>

<body>
  <table class="header">
    <tr>
        <td>
            <img src="{{ "/img/capybara_with_gradient_background_120_120.gif" | relURL }}" alt="tattooed capybara" class="logo" />
        </td>
        <td>
            <nav>
                <ul>
                  {{ range .Site.Menus.main }}
                  <li>
                    <a href="{{ .URL | relURL }}">{{ if (.Pre) }}{{ .Pre }}<br/>{{ end }}{{ .Name }}</a>
                  </li>
                  {{ end }}
                </ul>
              </nav>
        </td>
    </tr>
</table>
