<section class="post-comments">
    <h3>Komentarze</h3>

    {{ $.Scratch.Add "hasComments" 0 }}
    {{ $entryId := .File.BaseFileName }}

    {{ if ne $.Site.Data.comments nil }}
    {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
    {{ $.Scratch.Set "hasComments" 1 }}
    <div class="post-comment">
        <div class="post-comment-header">
            {{ dateFormat "2006 0201 0304" (int .date) }}
            <span class="post-comment-name">#{{ .name }}</span>
        </div>
        {{ .message | markdownify }}
        <hr />
    </div>
    {{ end }}
    {{ end }}
    {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>Pusto...</p>
    {{ end }}

    {{ partial "comment_form" . }}

</section>