body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}
body img {
  border-radius: 5px;
}
body p {
  text-indent: 1.5em;
}
p.img {
  float: left;
  margin-right: 1em;
}
body ul {
  list-style-type: none;
  padding-left: 0px;
}
/* header and footer areas */
.header {
  background-color: #d4d5d4; 
  border: none; 
  border-collapse: collapse; 
  border-radius: 5px;
  width: 100%;
}
.header .logo {
  margin-left: 0px;
  margin-bottom: -9px;
}
.header td {
  padding: 0;
}
nav { padding-bottom: 1em; }
nav li {
  display: inline-block;
}
.post-description {
  margin-left: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  width: 100%;
  display: inline-block;
}
.post-description .footbar {
  color: #737373;
  margin-top: 1em;
  margin-left: 1em;
}
body .article-meta {
  background: none;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-radius: 0px;
  border-bottom-color: #d4d5d4;
}
ul .article-meta {
  background: #d4d5d4;
  border-bottom-style: none;
  border-radius: 5px;
}
.article-meta {
  text-decoration: none;
  color: #6272a4;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.article-meta a:link {
  color: #737373;
  text-decoration: none;
}
.article-meta a:visited {
  color: #737373;
}
.article-meta h1 .date {
  color: #6272a4;
  margin-left: .5em;
  float: left;
  margin-bottom: .5em;
}
.article-meta a:link .date {
  color: #737373;
}
.article-meta .post-title {
  margin-left: 1.5em;
}
.more-link {
  display: block;
  float: right;
  margin-top: .7em;
  margin-right: 3em;
}
nav a {
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
  color: #737373;
}
nav, footer { text-align: center; }
h2, h1 { 
  font-family:  spectralbold_italic, serif;
  padding-bottom: .5em;;
}
.title { 
  font-size: 1em; 
  text-align: right;
  margin-right: 2%;
  padding-bottom: .3em;
  float: right;
}
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
img {
  margin-left: -1em;
  margin-bottom: -1em;
}
.img .img-desc {
  margin-left: 3em;
}
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
.overline {
  text-decoration: overline;
}

fieldset {
  border: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-block-end: 0px;
}
.post-comments {
  margin-top: 60px;
}

.post-comment {
  margin-bottom: 10px;
}

.post-comment-header {
  color: #6272a4;
}

.post-comment-name {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;

  text-align: right;
  margin-right: 3em;
  padding-bottom: .3em;
  float: right;
}

.post-comment-field {
  display: block;
  font: inherit;
  padding: 10px;
  margin-top: 10px;
  outline-color: #6272a4;
  
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;

  border: 1px solid #6272a4;
  border-radius: 5px;
}

.btn {
  border: 2px solid #6272a4;
  background-color: #6272a4;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font: inherit;
  padding: 5px;
  min-width: 100px;
  -webkit-appearance: none;
  text-align: center;
}

.btn:hover {
  background-color: white;
  color: #6272a4;
  text-decoration: none;
}

.dialog {
  display: none;
  position: fixed;
  background-color: rgba(238, 238, 238, 1);
  padding: 25px;
  padding-top: 20%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.dialog:target {
  display: block;
}
